@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 70vw;
  height: 95vh;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.modal > * {
  width: 100%;
}

.modal-header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header > span {
  font-size: 35px;
  margin-left: 25px;
}
.modal-header > svg {
  cursor: pointer;
  font-size: 35px;
  margin-right: 0.5vw;
  color: red;
}

video {
  transform: rotateY(180deg);
}
.modal-body {
  flex: 1;
  width: 100%;
}
